*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.active:active {
  background-color: #505050;
}

.hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:focus,
.button:focus,
.content__card-link:focus {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
} 

a {
  color: #fff;
  text-decoration: none;
}

.content__list::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.content__list::-webkit-scrollbar-thumb {
  width: 7px;
  height: 10px;
  border-radius: 3px;
  background-color: #505050;
}

.content__list::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 27px;
  margin: 15px 30px;
}

.result {
  flex-grow: 0;
  width: 710px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-items: start;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  outline: none;
  color: rgb(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: transparent;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__label:active {
  text-decoration: none;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 1px;;
  background-color:#fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 1px;;
  background-color:#fff;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  padding: 6px auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: inherit;
}

.button:active {
  outline: none;
  text-decoration: none;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.content__details {
  flex-grow: 1;
  width: 410px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 300px;
  padding: 0 3px;
  overflow: auto;
}

.title {
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content__card-link {
  display: block;
  padding: 2px 0 2px 5px;
}

.content__card-link:active {
  outline: none;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #505050;
}

.content__video-card-description-container {
  width: 205px;
}

.content__video-card-title {
  margin-top: 2px;
  margin-bottom: 4px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16px;
}

.content__accent {
  color: #505050;
}

.content__video-card-thumbnail {
  width: 205px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}